// 导入hotcss并指定设计图宽度
// 如果你的项目是多尺寸设计图，
// 那么就不能定义全局的designWidth了，需要在你的业务样式表中单独定义

designWidth = 750
@import '../../../node_modules/hotcss/src/px2rem.styl'

* 
    margin 0
    padding 0
    box-sizing border-box
    outline none

    before 
        box-sizing border-box
    
    after 
        box-sizing border-box

body
    width: 16rem;
    margin: 0 auto;
    background url("../images/icon.svg")
    background-color gold
    background-attachment fixed
    background-size 150px auto
    color #fff
    font-size 15px

    #mask
        position fixed
        left 0
        top 0
        z-index -1
        background-color #000
        opacity 0.5
        width 100%
        height 100%
    #header
        width 100%
        text-align center
        h1,h2
            font-size 20px
      
    terminalBox()
        padding .5em
        border 1px solid
        overflow auto
        transition none
        background-color #000
        opacity 0.8
    textarea()
        width 100%
        height 100%
        resize none
        background-color #000
        color #fff
        font-size 15px
        padding .5em
        outline none
        border 1px solid #fff
        overflow-y scroll
        
    #client
        height px2rem(400)
        terminalBox()
        #client-screen
            textarea()
            height 65%
        .buttons
            float right
            button
                padding 10px
                font-size 14px
                border-radius 5px
    #server
        height px2rem(700)
        terminalBox()
        #server-screen
            textarea()
            height 90%
    

